.v-btn {
  font-size: 16px;
  font-weight: 600;
  text-transform: none; // Prevent uppercase
  border-radius: 12px;
  height: 50px;
  transition: all 0.3s ease;

  &.v-btn--variant-elevated {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  }

  &.v-btn--variant-text {
    color: var(--v-theme-secondary);
  }

  &:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
  }
}
.v-btn + .v-btn {
  margin-left: 12px;
}

.centered-file-input .v-input__control {
  justify-content: center !important;
  text-align: center;
}
.centered-file-input .v-label,
.centered-file-input .v-file-input__text {
  text-align: center;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}

/* Apply a semi-transparent background to all Vuetify containers */
.v-sheet,
.v-toolbar,
.v-navigation-drawer {
  background: rgba(220, 219, 219, 0.8) !important; /* Slightly grey with 85% opacity */
  color: var(--color-text) !important;
  backdrop-filter: blur(10px); /* Adds a nice frosted-glass effect */
}
.v-card {
  background: rgba(220, 219, 219, 0.2) !important;
  color: var(--color-text) !important;
  backdrop-filter: blur(5px); /* Adds a nice frosted-glass effect */
}

/* Remove number input arrows in all browsers */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

.v-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9) !important; /* Slightly grey with 85% opacity */
  backdrop-filter: blur(10px); /* Adds a nice frosted-glass effect */
}

/* Global Layout Fix */
html,
body {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-style: normal;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.v-overlay__content.v-autocomplete-match-width {
  width: var(--v-field-width) !important;
  max-width: 100% !important;
}

.tooltip {
  background-color: rgba(50, 50, 50, 0.85); /* dark bg with opacity */
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}
